alembic==1.8.1
async-timeout==4.0.2
Brotli==1.0.9
chart-studio==1.1.0
click==8.1.3
dash==2.7.0
dash-auth==1.4.1
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
Deprecated==1.2.13
Flask==2.2.2
Flask-Compress==1.13
Flask-SeaSurf==1.1.1
greenlet==2.0.1
gunicorn==20.1.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.4
MarkupSafe==2.1.1
packaging==21.3
plotly==5.11.0
psycopg2-binary==2.9.5
python-dotenv==0.20.0
redis==4.3.4
retrying==1.3.3
SQLAlchemy==1.4.44
tenacity==8.1.0
ua-parser==0.16.1
Werkzeug==2.2.2
wrapt==1.14.1
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
constantly==15.1.0
cryptography==41.0.1
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
isodate==0.6.1
logzero==1.7.0
pycparser==2.21
pycrypto==2.6.1
pyotp==2.8.0
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
rdflib==6.3.2
rdflib-jsonld==0.6.2
requests==2.31.0
simplejson==3.19.1
six==1.16.0
smartapi-python==1.4.1
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.6.3
urllib3==2.0.3
websocket-client==1.6.0
zope.interface==6.0
